/* Top navigation */
.topnav {
  overflow: hidden;
  background-color: #333;
  display: flex;
  justify-content: center;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: #394867;
}

.topnav a.active {
  background-color:#333;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* Middle navigation */
.midnav {
  height: 3em;
  background-color: #ccc;
}

/* Presentation sections */
.pres{
  height: 100vh; 
  background-color: #f2f2f2;
}

.pres1{
  height: 100vh; 
  background-color: #394867;
}

.pres2 {
  height: 100vh; 
  background-color: #f2f2f2;
}

/* Containers */
.container-1{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px; 
  margin-left: .5em;
  margin-right: .5em;
}
.container-2{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px; 
  margin-left: .5em;
  margin-right: .5em;
}
.container-3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px; 
  margin-left: .5em;
  margin-right: .5em;
}

.container-1 .right_cont{
  flex-basis: calc(50% - 10px); 
  height: 100vh; 
  background-color: #f2f2f2;
  margin-bottom: 10px; 
  margin-top: 1em;
}
.container-1 .left_cont{
  flex-basis: calc(50% - 10px); 
  height: 100vh; 
  margin-top: 1em;
  background-color: #f2f2f2;
  margin-bottom: 10px; 
}
.container-2 .right_cont2{
  flex-basis: calc(50% - 10px); 
  height: 100vh; 
  background-color: #f2f2f2;
  margin-bottom: 10px; 
}
.container-2 .left_cont2{
  flex-basis: calc(50% - 10px); 
  height: 100vh; 
  background-color: #f2f2f2;
  margin-bottom: 10px; 
}
.container-3 .right_cont3{
  flex-basis: calc(50% - 10px); 
  height: 100vh; 
  background-color: #f2f2f2;
  margin-bottom: 10px; 
}
.container-3 .left_cont3 {
  flex-basis: calc(50% - 10px); 
  height: 100vh; 
  background-color: #f2f2f2;
  margin-bottom: 10px; 
}

/* Clear floats */
.container-1:after{
  content: "";
  display: table;
  clear: both;
}
.container-2:after{
  content: "";
  display: table;
  clear: both;
}
.container-3:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 600px) {
  .container-1 .right_cont{
    flex-basis: 100%;
  }
  .container-1 .left_cont{
    flex-basis: 100%;
  }
  .container-2 .right_cont2{
    flex-basis: 100%;
  }
  .container-2 .left_cont2{
    flex-basis: 100%;
  }
  .container-3 .right_cont3{
    flex-basis: 100%;
  }
  .container-3 .left_cont3 {
    flex-basis: 100%;
  }
}

/* Carousel css */
.carousel {
  width: 100%;
  overflow: hidden;
}

.carousel-container {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.carousel-item {
  flex: 0 0 100%;
  width: 100%;
}




